<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook Dell 12345</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="javascript/product_script.js" defer></script>
</head>
<body>
<div id="app">
    <div id="header">
        <label>Ingrese su búsqueda: <input type="text"></label>
        <button>Buscar</button>
    </div>
    <div id="product-info">
        <div>
            <img @mouseover="cambiarImagen(urlImagen)"
                 v-for="urlImagen in urlImagenes"
                 class="imagen-previsualizacion"
                 :src="urlImagen">
        </div>
        <div>
            <img id="imagen-producto" class="product-image" alt="Imagen de notebook" :src="imageUrl">
        </div>
        <div>
            <h1 id="titulo-producto">{{ title }}</h1>
            <p id="descripcion-producto" class="product-description">{{ description }}</p>
            <a id="link-producto" :href="factoryUrl">Sitio fabricante</a>
            <p id="precio-producto">$ {{ price }}</p>
            <button @click="comprarProducto">Comprar</button>
            <p>RAM:</p>
            <ul>
                <li @click="cambiarPrecio(variedad.precio)" v-for="variedad in variedadesNotebooks"><button>{{variedad.cantidadRam}}</button></li>
            </ul>
        </div>
        <div>
            <p>Cantidad productos comprados: {{cantidadProductosComprados}}</p>
        </div>
    </div>
    <div id="footer">
        <p>Marketplace tecnicatura</p>
    </div>
</div>
</body>
</html>